.git
.github
.gitignore
.gitattributes

node_modules
vendor
public/assets
public/themes

tests
docs
docker
ccdaservice/node_modules

.idea
.vscode
.vscode-oss
.DS_Store

*.log
.env
.env.*
.phpunit.result.cache
tmp-phpstan

Dockerfile
.dockerignore
